<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDesignerService" />
        <binding name="BasicHttpBinding_IDesignerService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61389/DesignerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesignerService"
        contract="ServiceReference1.IDesignerService" name="BasicHttpBinding_IDesignerService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>